<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <img (click)="add()" class="add" src="assets/addtarefa.svg"> 
  </ion-fab>
  
  <span class="ion-text-center tarefas">Minhas Tarefas</span>

 <div *ngFor="let t of listaTarefas">
  <ion-card *ngIf="t.status == false" class="cor" (click)="modalTarefa(t)">
    <ion-card-header>
      <ion-card-title class="p1">{{t.nome}}</ion-card-title>
      <p class="p2">Nível de Dificuldade: {{t.nivel}}</p>
      <p class="p3">{{t.pontuacao}}</p>
    </ion-card-header>
  </ion-card>

  </div>


</ion-content>
