.logo{

    margin-left: 2%;
    width: 100px;
    margin-top: 2%;
   
}
.perfil{


    width: 10%;
    height: 10%;
    margin-right: 3%;
}

.add{

    width: 70%;
}

.tarefas{

    font-size: 24px;
    font-family: lato;
    color: #515151;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90%;
}

ion-card{

    position: absolute;
    bottom: 60%;
    width: 340px;
}