<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <img (click)="add()" class="add" src="assets/addtarefa.svg"> 
  </ion-fab>
  
  <span class="ion-text-center tarefas">Suas Tarefas</span>

  <ion-item class="cor">
    <ion-avatar slot="start">
      <img src="./avatar-han.png">
    </ion-avatar>
    <ion-label>
      <h2>Han</h2>
      <h3>Look, kid...</h3>
      <p>I've got enough on my plate as it is, and I...</p>
    </ion-label>
  </ion-item>
  


</ion-content>
