.logo {

    margin-left: 2%;
    width      : 100px;
    margin-top : 2%;

}

.perfil {


    width       : 10%;
    height      : 10%;
    margin-right: 3%;
}

.add {

    width: 70%;
    position: static;
}

.tarefas {

    font-size  : 24px;
    font-family: lato;
    color      : #515151;
    position   : absolute;
    left       : 0;
    right      : 0;
    bottom     : 90%;
}



.cor {

    --ion-background-color: #515151;
    margin-top: 19%;
    margin-bottom: -15%;
    width: auto;

}

.p1 {

    color      : #FAFF03;
    font-family: lato;
}

.p2 {

    color      : #FAFF03;
    font-family: lato;

}

.p3 {

    color      : #FAFF03;
    font-size  : 29px;
    position   : absolute;
    left       : 80%;
    right      : 0;
    bottom     : 5%;
    font-family: lato;
}