<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">

    <ion-buttons (click)="voltar()" class="voltar" slot="end">
      <ion-button>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center container titulo">
    <span>Adicionar Tarefa</span>
  </div>
  
  <div class="forms">
      <ion-item>
        <ion-input type="text" name="tarefa" placeholder="Tarefa"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="pontacao" placeholder="Pontuação"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dono da Tarefa</ion-label>
        <ion-select *ngFor="let m of membros" ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option value="João(Pai)">{{m.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
   </div>

   <ion-button class="ion-text-center btnSeguir">Adicionar</ion-button>

</ion-content>
