<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">

    <ion-buttons (click)="voltar()" class="voltar" slot="end">
      <ion-button>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center container titulo">
    <span>Adicionar Tarefa</span>
  </div>
  
  <form class="forms" #fc="ngForm" (ngSubmit) = "onSubmit(fc)">
      <ion-item>
        <ion-input type="text" name="tarefa" required placeholder="Tarefa" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="pontacao" required placeholder="Pontuação"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Dono da Tarefa</ion-label>
        <ion-select *ngFor="let m of membros" ok-text="Ok" cancel-text="Cancelar">
        <ion-select-option value="João(Pai)">{{m.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-input type="text" name="observacoes" required placeholder="Observações"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="date" name="prazo" required placeholder="Prazo"></ion-input>
      </ion-item>
    </form>

   <ion-button class="ion-text-center btnSeguir" [disabled] = "fc.invalid">Adicionar</ion-button>

</ion-content>
