<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/logo2.svg">
    <ion-buttons (click)="sair()" class="voltar" slot="end">
      <ion-button>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <span class="ion-text-center perfil">Perfil</span>
 <div (click)="addperfil()" class="ion-button container ion-text-center btnadd">
   <img src="assets/add.svg">
 </div>
<p></p>
 <div *ngFor="let membro of membro">
    <div class="ion-button container ion-text-center btnadd">
        <img style="width:25%;" src="assets/emoji.svg">
        <p>{{membro.nome}}</p>
      </div>
 </div>

 

</ion-content>
