ion-content{

    --ion-background-color: #515151 !important;
}

.logo{

    margin-left: 2%;
}
.voltar{

    font-family: lato;
    color: #FAFF03;
}
.btnadd{

    position: absolute;
    right: 0;
    left: 0;
    bottom: 50%;

}

.perfil{


    font-size: 24px;
    font-family: lato;
    color: #FAFF03;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90%;

}