<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">
    <ion-buttons (click)="sair()" class="voltar" slot="end">
      <ion-button>
        Sair
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

 <ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <img (click)="addperfil()" class="add" src="assets/add.svg"> 
</ion-fab>
 
 <div *ngFor="let membro of membro">
      <ion-button (click)="home(membro)" class="ion-button ion-text-center btnadd" >
        <p>{{membro.nome}}</p>
      </ion-button >
 </div>"
 

</ion-content>
