<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/logo2.svg">
    <ion-buttons (click)="voltar()" class="voltar" slot="end">
      <ion-button>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container ion-text-center titulo">
    <span>
        Criar conta MyFamily
    </span>
  </div>

  <div class="container ion-text-center necessidade">
    <span>
        É necessário criar um perfil para acessar o app.
    </span>
  </div>
  
<div class="forms">
  {{msg}}
  <ion-item>
    <ion-input name="membro.nome" [(ngModel)]="membro.nome" type="text" placeholder="Nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input name="membro.nascimento" [(ngModel)]="membro.nascimento" type="date" placeholder="Idade"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input name="membro.parentesco" type="text" [(ngModel)]="membro.parentesco" placeholder="Parentesco"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input name="membro.pin" type="password"  [(ngModel)]="membro.pin" placeholder="PIN"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input name="confirme" type="password" [(ngModel)]="confirme" placeholder="Confirme o PIN"></ion-input>
  </ion-item>
  
</div>


<ion-button (click)="finalizar()" class="ion-text-center btnSeguir">Cadastrar</ion-button>

</ion-content>
