<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/logo2.svg">
    <ion-buttons (click)="voltar()" class="voltar" slot="end">
      <ion-button>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container ion-text-center titulo">
    <span>
        Criar conta MyFamily
    </span>
  </div>

  <div class="container ion-text-center necessidade">
    <span>
        É necessário criar um perfil para acessar o app.
    </span>
  </div>
  
<div class="forms" >
  {{msg}}
  <ion-item>
    <ion-input name="membro.nome" [(ngModel)]="membro.nome" pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" type="text" placeholder="Nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input name="membro.nascimento" [(ngModel)]="membro.nascimento" type="date" placeholder="Idade"></ion-input>
  </ion-item>
  <ion-label>Parentesco</ion-label>
  <ion-select>
    <ion-input name="membro.parentesco" type="text" [(ngModel)]="membro.parentesco" placeholder="Parentesco"></ion-input>
    <ion-select-option>Mãe</ion-select-option>
  <ion-select-option>Pai</ion-select-option>
  <ion-select-option>Irmão</ion-select-option>
  <ion-select-option>Irmã</ion-select-option>
  </ion-select>
  <ion-item>
    <ion-checkbox name="responsabilidade" [(ngModel)]="responsabilidade" color="warning" slot="start"></ion-checkbox>
    <ion-label>Responsável</ion-label>
  </ion-item>
  <ion-item>
    <ion-input name="membro.pin" type="password" minlength="3" maxlength="6" [(ngModel)]="membro.pin" required placeholder="PIN"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input name="confirme" type="password" minlength="3" maxlength="6" [(ngModel)]="confirme" required placeholder="Confirme o PIN"></ion-input>
  </ion-item>
  
</div>


<ion-button (click)="finalizar()"  class="ion-text-center btnSeguir">Cadastrar</ion-button>

</ion-content>
