.logo{

    margin-left: 2%;
    width: 100px;
    margin-top: 2%;
   
}
.voltar{

    font-family: lato;
    color: #FAFF03;
}

ion-content{

    --ion-background-color: #515151 !important;
}

.logocompleta{

    position: absolute;
    left: 41%;
    right: 0;
    bottom: 83%;
    width: 20%;
}

.titulo{

    font-size: 24px;
    font-family: lato;
    color: #FAFF03;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 75%;
}

.btnSeguir{

    position: absolute;
    left: 5%;
    right: 0;
    width: 90%;
    bottom: 30%;
}

.p1{

    position: absolute;
    left: 10%;
    right: 0;
    bottom: 55%;
    font-family: lato;
    color: #FAFF03;
    font-size: 16px;
}

.p2{

    position: absolute;
    left: 10%;
    right: 0;
    bottom: 50%;
    font-family: lato;
    color: #FAFF03;
    font-size: 16px;
}

.p3{

    position: absolute;
    left: 10%;
    right: 0;
    bottom: 45%;
    font-family: lato;
    color: #FAFF03;
    font-size: 16px; 
}

