.logo{

    margin-left: 2%;
    width: 30%;
    margin-top: 2%;
   
}

.voltar{

    font-family: lato;
    color: #FAFF03;
}

.titulo{

    color: #FAFF03;
    font-family: lato;

}

ion-content{

    --ion-background-color: #515151;
}

.text{

    color: #FAFF03;
    font-family: lato;
    width: 90%;
    position: absolute;
    left: 6%;
    right: 0;
    top: 10%;
}

.text1{

    color: #FAFF03;
    font-family: lato;
    width: 90%;
    position: absolute;
    left: 6%;
    right: 0;
    top: 60%;
}

.text1 h3{

    position: absolute;
    left: 0;
}

.ps{

    position: absolute;
    left: 12%;
    margin-top: 12%;

}

.text2{

    color: #FAFF03;
    font-family: lato;
    width: 90%;
    position: absolute;
    left: 6%;
    right: 0;
    top: 88%;
}

.text2 h3{

    position: absolute;
    left: 0;
}

.ps{

    position: absolute;
    left: 12%;
    margin-top: 12%;

}

.text3{

    color: #FAFF03;
    font-family: lato;
    width: 90%;
    position: absolute;
    left: 6%;
    right: 0;
    top: 115%;
}

.text3 h3{

    position: absolute;
    left: 0;
}

.ps{

    position: absolute;
    left: 12%;
    margin-top: 12%;

}

.image{

    position: absolute;
    left: 34%;
    right: 0;
    top: 135%;
}

.text4{

    color: #FAFF03;
    font-family: lato;
    position: absolute;
    left: 8%;
    right: 0;
    top: 153%; 
    margin-bottom: 10%;
}
