<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">
    <ion-buttons (click)="voltar()" class="voltar" slot="end">
      <ion-button>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="ion-text-center titulo">Créditos</h1>

<div class="ion-text-center text">
  <p>O aplicativo foi criado com o objetivo de união entre seus familiares em uma era que a tecnologia vêm
    distanciando cada vez mais o seu filho, sua mãe ou seu avô. Aquele afeto, carinho, amor, zelo e compromisso
    com a famíla o MyFamily busca promever novamente, por que não fazer seus filhos se motivarem ao ajudar 
    seu pai ou sua mãe em uma tarefa doméstica? MyFamily tem esse objetivo!</p>
    <p>Nunca se esqueça: </p> <p><b>Famíla por todos, todos por um.</b></p>
</div>
<div class="text1">
<h3>Criação de:</h3>
<section class="ps">
<p>- Matheus Bastos</p>
<p>- Nicole Nunes</p>
<p>- Victor Caselli</p>
</section>
</div>

<div class="text2">
  <h3>Contato:</h3>
  <section class="ps">
  <p>- GitHub: projectmyfamily</p>
  <p>- E-mail: projectmyfamily@gmail.com</p>
  <p>- Telefone: (21) 99152-0314</p>
  </section>
  </div>

  <div class="text3">
    <h3>Parceria:</h3>
    <section class="ps">
    <p>- SenacRio - Madureira</p>
    </section>
    </div> 


    <img class="image" src="assets/LogoCompleta.svg">

    <h3 class="text4">Família por todos, todos por um.</h3>
</ion-content>
