<<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">
    <ion-buttons (click)="voltar()" class="voltar" slot="end">
      <ion-button>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center container">

    <span class="perfil">Perfil</span>

    <ion-avatar class="ion-text-center addperfil">
      <img src="assets/add.svg">
    </ion-avatar>

  
    <div class="p1">
     <span>{{membro.nome}}</span>
    </div>
    <div class="p2">
      <span>{{membro.nascimento}}</span>
     </div>
     <div class="p3">
      <span>{{membro.parentesco}}</span>
     </div>
     <div class="tarefasconcluidas">
       <span (click)="historico()">Tarefas concluidas</span>
     </div>

     <div>
      <ion-button (click)="creditos()" class="creditos">Créditos</ion-button>
     </div>
     <div>
      <ion-button (click)="edit()" class="edit">Editar Perfil</ion-button>
     </div>
     <div>
      <ion-button (click)="logout()" class="logout">Logout</ion-button>
     </div>
    
  </div>



</ion-content>
