.logo{

    margin-left: 2%;
    width: 30%;
    margin-top: 2%;
   
}
.voltar{

    font-family: lato;
    color: #FAFF03;
}

.perfil{

    font-size: 22px;
    font-family: lato;
    color: #515151;
}

.addperfil{

    position: absolute;
    left: 42%;
    right: 0;
    bottom: 80%;
    box-shadow: 30px;   

}


.p1{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 70%;
    font-size: 16px;
    font-family: lato;
    color: #515151;


}
.p2{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 60%;
    font-size: 16px;
    font-family: lato;
    color: #515151;
}

.p3{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    font-size: 16px;
    font-family: lato;
    color: #515151;
}
.tarefasconcluidas{

    position: absolute;
    left: 0;
    right: 0;
    bottom: 40%;
    font-size: 22px;
    font-family: lato;
    color: #515151;
    font-weight: bold;

}

.creditos{

    position: absolute;
    left: 5%;
    right: 0;
    width: 90%;
    bottom: 25%;
}

.edit{

    position: absolute;
    left: 5%;
    right: 0;
    width: 90%;
    bottom: 15%;
}
.logout{

    position: absolute;
    left: 5%;
    right: 0;
    width: 90%;
    bottom: 5%;
}
