<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon src="assets/home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tarefa">
      <ion-icon src="assets/tarefas.svg"></ion-icon>
      <ion-label>Tarefas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="desejo">
      <ion-icon src="assets/desejo.svg"></ion-icon>
      <ion-label>Desejos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="atividade">
      <ion-icon src="assets/atividade.svg"></ion-icon>
      <ion-label>Atividades</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
