<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab *ngIf="desejos.length <= 4" horizontal="end" vertical="bottom" slot="fixed">
      <img (click)="add()" class="add" src="assets/addtarefa.svg"> 
  </ion-fab>
  
  <span class="ion-text-center tarefas">Meus Desejos</span>

 <div *ngFor="let d of desejos">
  <ion-item class="cor" (click)="alertCompra(d.id, d.pontuacao)" >
    <ion-label>
      <img src="assets/coracaoyelow.svg">
      <p class="p0">{{d.nome}}</p>
      <p class="p2">{{d.valor}}</p>
      <p class="p3">{{pontuacao}}/{{d.pontuacao}}pts</p>
    </ion-label>
  </ion-item>
 </div>
 
  

</ion-content>
