.logo{

    margin-left: 2%;
    width: 100px;
    margin-top: 2%;
   
}
.perfil{


    width: 10%;
    height: 10%;
    margin-right: 3%;
}

.add{

    width: 70%;
}

.tarefas{

    font-size: 24px;
    font-family: lato;
    color: #515151;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90%;
}


.cor{

    
    --ion-background-color: #515151;
    margin-top: 19%;
    margin-bottom: -15%;
    margin-left: 3%;
    width: 95%;
    height: 29%;
    --border-radius: 5px;
}

.p1{

    position: absolute;
    left: 0;
    right: 0;
}

.p2{

    color: #FAFF03;
    font-family: lato;
    position: absolute;
    left: 64%;
    right: 0;
    bottom: 56%;

}

.p3{

    color: #FAFF03;
    font-size: 20px;
    position: absolute;
    left: 62%;
    right: 0;
    bottom: 7px;
    font-family: lato;
}

.p0{

    color: #FAFF03;
    font-size: 18px;
    position: absolute;
    left: 23%;
    right: 0;
    bottom: 26px;
    font-family: lato;

}