<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">

    <ion-buttons (click)="voltar()" class="voltar" slot="end">
      <ion-button>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center container titulo">
    <span>Adicionar Desejo</span>
  </div>
  
  <div class="forms">
    {{msg}}
      <ion-item>
        <ion-input type="text" name="cad.nome" [(ngModel)]="cad.nome" placeholder="Desejo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="number" name="cad.valor" [(ngModel)]="cad.valor" placeholder="valor"></ion-input>
      </ion-item>
   </div>

   <ion-button (click)="insert()" class="ion-text-center btnSeguir">Adicionar Desejo</ion-button>

</ion-content>
