<ion-header>
  <ion-toolbar>
    <img class="logo" src="assets/LogoNome.png">
    <ion-buttons (click)="voltar()" class="voltar" slot="end">
      <ion-button>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center logocompleta">
    <img src="assets/LogoCompleta.svg">
  </div>
  <div class="ion-text-center titulo">
    <span>Finalizar Tarefa</span>
  </div>
  <div class="p1">
    <p>Tarefa</p>
  </div>
  <div class="p2">
    <p>Dono da Tarefa</p>
  </div>
  <div class="p3">
    <p>Pontuação</p>
  </div>
  <div class="ion-text-center titulofoto">
    <span>Adicionar Foto</span>
  </div>

  <div class="ion-text-center addfoto">
    <img src="assets/addfoto.svg">
  </div>

  <ion-button class="ion-text-center btnSeguir">Finalizar Tarefa</ion-button>
  

</ion-content>
